{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1qE1C10EgY8qY79gFY5yITK7MZj5c7u2mqu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
      defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

    {% block title %}<title>Dashboard</title>{% endblock title %}
  </head>
  <body>
    <body class="relative bg-yellow-50 overflow-hidden max-h-screen">

      <aside class="fixed inset-y-0 left-0 bg-white shadow-md max-h-screen w-60">
        <div class="flex flex-col justify-between h-full">
          <div class="flex-grow">
            <div class="px-4 py-6 text-center border-b">
              <h1 class="text-xl font-bold leading-none"><span
                  class="text-yellow-700">TIAARA</span></h1>
            </div>
            <div class="p-4">
              <ul class="space-y-1">
                <li>
                  <a href=" {% url 'dashboard' %}"
                    class="flex hover:bg-yellow-50 rounded-xl font-semibold text-sm text-gray-900 py-3 px-4
                   ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                      height="1em" fill="currentColor" class="text-lg mr-4"
                      viewBox="0 0 16 16">
                      
    
                    </svg>Dashboard
                  </a>
                </li>
                <li>
                  <a href="{% url 'category' %}" class="flex hover:bg-yellow-50 rounded-xl font-semibold text-sm text-gray-900 py-3 px-4
                      {% if active_menu == 'Users' %} bg-yellow-900 {% endif %}">
                      <i class="fa-solid fa-list text-xl mr-5" fill="currentColor"></i>
                      Category
                  </a>
              </li>
              
              <li>
                <a href="{% url 'product' %}" class="flex focus::bg-yellow-50 focus:rounded-xl focus:font-semibold hover:bg-yellow-50 rounded-xl font-semibold text-sm text-gray-900 py-3 px-4
                    {% if active_menu == 'Users' %} bg-yellow-900 {% endif %}">
                    <i class="fa-brands fa-product-hunt text-xl mr-5" fill="currentColor"></i>
                    Products
                </a>
            </li>
               
          
                <li>
                  <a href="{% url 'users' %}" class="flex hover:bg-yellow-50 rounded-xl font-semibold text-sm text-gray-900 py-3 px-4
                      {% if active_menu == 'Users' %} bg-yellow-900 {% endif %}">
                      <i class="fa-solid fa-users text-xl mr-5" fill="currentColor"></i>
                      Users
                  </a>
              </li>
              
              <li>
                <a href="{% url 'order' %}" class="flex hover:bg-yellow-50 rounded-xl font-semibold text-sm text-gray-900 py-3 px-4
                    {% if active_menu == 'Users' %} bg-yellow-900 {% endif %}">
                    <i class="fa-solid fa-cart-shopping ext-xl mr-5"></i>
                    Order
                </a>
            </li>

            <li>
              <a href="{% url 'coupons' %}" class="flex hover:bg-yellow-50 rounded-xl font-semibold text-sm text-gray-900 py-3 px-4
                  {% if active_menu == 'Users' %} bg-yellow-900 {% endif %}">
                  <i class="fa-solid fa-cart-shopping ext-xl mr-5"></i>
                  Coupon
              </a>
          </li>
          
            
              
              </ul>
            </div>
          </div>
          <div class="p-4">
            <button type="button"
              class="inline-flex items-center justify-center h-9 px-4 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                fill="currentColor" class viewBox="0 0 16 16">
                <path
                  d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
            </button><a href="{% url 'logout' %}"onclick="return confirm('Are you sure you want to Logout?')"><span
                class="font-bold text-sm ml-2">Logout</a></span>
          </div>
        </div>
      </aside>
    </body>
    {% block content %}

    {% endblock %}

  </body>
</html>