<h1 class="text-3xl font-semibold m-5"> Choose Payment Method</h1>

<div class="flex">
  <aside class="bg-yellow-50 shadow-md max-h-screen w-60 mt-10" style="margin-left: 100px; width:280px; height:400px;">
    <div class="flex flex-col justify-between h-full">
      <div class="flex-grow">
        <div class="m-2">
          <ul class="space">
            <li class="border-b border-border-gray-300 pb-2 text-black ">
              <a href="{% url 'cod' address.id %}" class="block py-2 px-4 ">
                <h2 class="text-xl font-semibold mt-5">Cash On Delivery</h2>
                <p class="text-sm text-gray-600">Pay at your doorstep</p>
              </a>
            </li>
          
            <li class="border-b border-border-gray-300 pb-2 text-black">
              <a href="{% url 'onlinepayment'%}" class="block py-2 px-4 hover:bg-yellow-900 focus:bg-yellow-900 focus:text-white focus:rounded-lg hover:rounded-lg hover:text-white">
                <h2 class="text-xl font-semibold mt-5">Razorpay</h2>
                <p class="text-sm text-gray-600">Pay with RazorpayPayments</p>
              </a>
            </li>
          

            <li class="border-b border-border-gray-300 pb-2 text-black">
              <a href="{% url 'wallet_payment' %}" class="block py-2 px-4 hover:bg-yellow-900 focus:bg-yellow-900 focus:text-white focus:rounded-lg hover:rounded-lg hover:text-white">
                <h2 class="text-xl font-semibold mt-5">Wallet</h2>
                <p class="text-sm text-gray-600">Pay with Wallet</p>
              </a>
                
              </a>
            </li>

            <li class="border-b border-gray-300 pb-2">
              <a href="#" class="block py-2 px-4 hover:bg-yellow-900 focus:bg-yellow-900 focus:text-white focus:rounded-lg hover:rounded-lg hover: text-white">
                <h2 class="text-xl font-semibold mt-5">Credit and Debit Card</h2>
                <p class="text-sm text-gray-600">Visa, mastercard, Rupay & more</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>