<div class="flex">
    <aside class="bg-yellow-50 shadow-md max-h-screen w-60 m-5" style="margin-left: 100px; width:250px; height:400px;">
      <div class="flex flex-col justify-between h-full"  >
        <div class="flex-grow"  style="width:250px;">
          <div class="m-2">
            <ul class="space items-center">
              <li class="border-b border-border-gray-300 text-black ">
                <a href="{% url 'profile' %}" class=" block text-black py-2 px-3  hover:text-yellow-900 focus:text-yellow-900 focus:yellow-50 focus:rounded-lg ">
                  <h2 class="text-lg font-semibold mt-5">Profile</h2>
                  
                </a>
              </li>
  
              <li class="border-b border-border-gray-300 pb-2 text-black ">
                <a href="{% url 'orders' %}" class=" block text-black py-2 px-3  hover:text-yellow-900 focus:text-yellow-900 focus:yellow-50 focus:rounded-lg ">
                  <h2 class="text-lg font-semibold mt-5">My Orders</h2>
                 
                </a>
              </li>
  
              <li class="border-b border-gray-300 pb-2 text-black ">
                <a href="{% url 'wishlist' %}" class=" block text-black py-2 px-3  hover:text-yellow-900 focus:text-yellow-900 focus:yellow-50 focus:rounded-lg ">
                  <h2 class="text-lg font-semibold mt-5">Wishlist</h2>
                  
                </a>
              </li>
              <li class="border-b border-gray-300 pb- 2 text-black ">
                <a href="{% url 'wallet' %}" class=" block text-black py-2 px-3  hover:text-yellow-900 focus:text-yellow-900 focus:yellow-50 focus:rounded-lg ">
                  <h2 class="text-lg font-semibold mt-5">Wallet</h2>
                  
                </a>
              </li>

              <li class="border-b border-gray-300 pb- 2 text-black ">
                <a href="{% url 'coupon' %}" class=" block text-black py-2 px-3  hover:text-yellow-900 focus:text-yellow-900 focus:yellow-50 focus:rounded-lg ">
                  <h2 class="text-lg font-semibold mt-5">Coupons</h2>
                  
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    