{% extends 'base.html' %}
{% block title %} Cart {% endblock title %}
{% block content %}
<body  style="height:600px;">
    <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
        {% if cartitems %}
        <div class="flex-col justify-between max-full-screen overflow-y-auto p-10">
        <div class="mx-auto max-w-5xl flex flex-col md:flex-row justify-between px-6 xl:px-0">
            
            <!-- Cart items -->
            <div class="flex-col md:w-2/3 max-full-screen overflow-y-auto" style="height:500px;">
                {% for cart in cartitems %}
                    <div class="mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start relative">

                        <a href="{% url 'remove_item' cart.id %}">  <i class="fa-solid fa-xmark absolute top-0 right-0 mt-2 mr-2"> </i> </a>
                        <img src="{{ cart.variant.img1.url }}" alt="product-image" class="rounded-lg sm:w-40" style="height:100px; width:100px;" />
                        <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                            <div class="mt-5 sm:mt-0">
                                <h2 class="text-lg font-bold text-gray-900">{{ cart.variant.product.productname }}</h2>
                                <h2 class="text-sm font-semibold text-gray-700">{{ cart.variant.color }}</h2>
                            </div>
                            <div class="mt-6 flex justify-between items-center sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                                 <form method="POST" action="{% url 'update_quantity' cart.id %}">
                                    {% csrf_token %}
                                    <div class="flex border-gray-100">
                                        <button type="submit" class="cursor-pointer rounded-l bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50" name="action" value="decrement"> - </button>
                                        <input
                                        class="h-8 w-12 border bg-white text-left text-xs outline-none" style="text-align: center;"
                                        name="quantity"
                                        value="{{ cart.quantity }}"
                                        min="1"
                                        readonly
                                        />

                                        <button type="submit" class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50" name="action" value="increment"> + </button>
                                    </div>
                                </form> 

                                {% comment %} <div class="col-lg-2 col-sm-6 col-6 d-flex align-items-center justify-content-between">
                                    <button class="btn btn-light border" type="button" onclick="decrementQuantity('<%= x.productId._id %>','<%= newcart._id %>')">
                                      <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="form-control text-center quantity-input" type="text" value="{{cart.quantity}}"
                                      id="quantity-<%= x.productId._id %>" readonly />
                                    <button class="btn btn-light border" type="button" onclick="incrementQuantity('<%= x.productId._id %>','<%= newcart._id %>')">
                                      <i class="fas fa-plus"></i>
                                    </button>
                                  </div>
                                  <div class="col-lg-2"> {% endcomment %}




                                <div class="flex items-center space-x-4">
                                    <h2 class="font-semibold">{{ cart.variant.discount_price }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Summary -->
            <div class="sm:w-1 md:w-1/2 lg:w-1/2 xl:w-1/2 m-6">
                <div class="bg-white p-6 rounded-lg border shadow-md">
                <div class="mb-2 flex justify-between">
                    <p class="text-gray-700">Subtotal</p>
                    <p class="text-gray-700">{{cart.total}}</p>
                </div>
                <div class="flex justify-between">
                    <p class="text-gray-700">Discount</p>
                    <p class="text-gray-700">{{cart.discnt}}</p>
                </div>
                <div class="flex justify-between">
                    <p class="text-gray-700">Shipping</p>
                    <p class="text-gray-700">{{cart.shipping_charge}}</p>
                </div>
                <hr class="my-4" />
                <div class="flex justify-between">
                    <p class="text-lg font-bold">Total</p>
                    <p class="text-lg font-bold">{{cart.grand_total}}</p>
                </div>
                <p class="text-sm text-gray-700">including GST</p>
                <a href="{% url 'address' %}">
                    <button class="mt-6 w-full rounded-md bg-yellow-900 py-1.5 font-medium text-white">Check out</button>
                </a>
            </div>

        </div>
    </div>
    </div>

    {% else %}
    
      <div class="flex flex-col justify-center items-center "style="height:600px;">
        <h2 class="text-2xl font-bold">Your Shopping Bag is empty</h2>
        <p class="text-gray-700 font-semibold mt-3">This feels too light! Go on, add all your favourites</p>
        <div class="m-10">
            <a href="{% url 'products' %}">
                <button class="w-full rounded-md bg-yellow-900 py-3 px-5 font-medium text-white">Go Shopping</button>
            </a>
        </div>
    </div>
    
    </div>
  

   {% endif %}

<script>
   function updateQuantity(productId, count, cartId) {
    var quantityElement = document.getElementById("quantity-" + productId);
    var currentQuantity = parseInt(quantityElement.value, 10);

    if (count === 1) {
      currentQuantity += 1;
      quantityElement.value = currentQuantity;
    } else if (count === -1 && currentQuantity > 1) {
      currentQuantity -= 1;
      quantityElement.value = currentQuantity;
    }

    fetch('/updatequantity', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        productId: productId,
        quantity: currentQuantity,
        cartId: cartId,
      })
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Response from the server:", data);
        window.location.reload();

      })
      .catch((error) => {
        console.error('Error updating quantity:', error);
        window.location.reload();
      });
  }

  function decrementQuantity(productId, cartId) {
    updateQuantity(productId, -1, cartId);
  }

  function incrementQuantity(productId, cartId) {
    updateQuantity(productId, 1, cartId);
  }
  function updateCartUI() {
    var cartEmpty =` <%= product.length === 0 %>`;

    if (cartEmpty) {
      document.querySelector('.btn-success').disabled = true;
    }
  }
  updateCartUI();
</script> 

</body>

{% endblock content %}