<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>update_address</title>
</head>
<body>
 
<div class="max-w-md mx-auto bg-white p-8 border rounded-md shadow-md">
    <h2 class="text-2xl font-bold mb-4">Shipping Address</h2>

    
   
    <form action="{% url 'update_address' address.id %}" method="POST">
        {% csrf_token %}
        {% if address %}
        <!-- Name -->
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-600">Full Name</label>
            <input type="text" id="name" name="name" value="{{address.full_name}}"
                class="mt-1 p-2 border rounded-md w-full" required />
        </div>

        <!-- Street Address -->
        <div class="mb-4">
            <label for="address" class="block text-sm font-medium text-gray-600">Address</label>
            <input type="text" id="address" name="address" value="{{address.address}}"
                class="mt-1 p-2 border rounded-md w-full" required />
        </div>

        <!-- City and Zip Code -->
        <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
                <label for="city" class="block text-sm font-medium text-gray-600">City</label>
                <input type="text" id="city" name="city" value="{{address.city}}"
                    class="mt-1 p-2 border rounded-md w-full" required />
            </div>
            <div class="mb-4">
                <label for="zip" class="block text-sm font-medium text-gray-600">Zip Code</label>
                <input type="text" id="zip" name="zip" value="{{address.pincode}}"
                    class="mt-1 p-2 border rounded-md w-full" required />
            </div>
        </div>

        <!-- Country -->
        <div class="mb-4">
            <label for="country" class="block text-sm font-medium text-gray-600">Country</label>
            <input type="text" id="country" name="country" value="{{address.country}}"
                class="mt-1 p-2 border rounded-md w-full" required />
        </div>

        <div class="mb-4">
            <label for="phone" class="block text-sm font-medium text-gray-600">Phone Number</label>
            <input type="text" id="phone" name="phone" value="{{address.phone_No}}" 
                class="mt-1 p-2 border rounded-md w-full" required />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="bg-yellow-900 text-white px-4 py-2 rounded-md ">
            Save Address
        </button>
        {% endif %}
    </form>
    
</div>
   
</body>
</html>