{% extends 'payment.html' %}
{% block title %} Online Payment {% endblock title %}
{% block content %}
<body>
    <div class="bg-yellow-100 shadow-md m-5 mt-10 text-center flex flex-col justify-center items-center" style="height: 150px; width: 400px;">
        <h5 class="font-semibold">Online Payment</h5>
        <button id="razorpay-payment-button" class="bg-yellow-900 px-5 h-10 rounded-md mt-5 text-xl text-white">Pay with Razorpay</button> 
    </div>
    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: '{{ razorpay_key }}',  // Razorpay API Key passed from backend
            amount: '{{ clnt_order.amount }}',  // Amount in paisa
            currency: '{{ clnt_order.currency }}',  // Currency
            name: 'Tiara',
            description: 'Payment for your order',
            order_id: '{{ clnt_order.id }}',  // Razorpay order ID

            handler: function (response){
                // Handle the success or failure here
                console.log(response);
                if (response.razorpay_payment_id) {
                    // Redirect to create_order URL after successful payment
                    window.location.href = '{% url "create_order" id=address.id %}?transaction_id=' + response.razorpay_payment_id;
                } else {
                    alert('Payment failed. Please try again.');
                }
            },
            theme: {
                color: "#F37254"  // Optional: You can customize the Razorpay theme
            }
        };
        
        var rzp = new Razorpay(options);

        document.getElementById('razorpay-payment-button').onclick = function(){
            rzp.open();  // Open Razorpay checkout on button click
        };
    </script>
</body>
{% endblock content %}
