  {% extends 'base.html' %}
  {% block title %}My orders {% endblock title %}
  {% block content %}
  {% include 'profile.html' %}
     
  <div class=" w-3/4  m-5 text-gray-800" style="width:75 %">
      {% if orders %}
      
          <div class="flex flex-col m-5"> 
            <h1 class="text-2xl font-semibold ">My Orders</h1>
            {% for order in orders %}
            <div class=" rounded-sm bg-white p-6 shadow-md m-5  " style="width:700px;">
              <div class="m-4 flex justify-between">
                <div>
                    <p class="text-sm font-semibold">Order Number</p>
                    <p class="text-md font-semibold">#Tiara00000{{ order.id }}</p>
                    <p class="text-md font-semibold">Placed:{{ order.order_date }}</p>
                </div>
                <div>
               <a href="{% url 'order_details' order.id %}" ><button class="font-semibold text-sm border border-gray-500 px-3 py-1 rounded-lg ">Order Details</button></a>
              </div>
            </div>
           
            <div class="m-4 ">
            {% if order.status == 'confirmed' %}
            <p class="text-md font-semibold">Ordered Items Confirmed</p>
            {% elif order.status == 'cancelled' %}
            <p class="text-md font-semibold"> Ordered Items Cancelled</p>
            {% elif order.status == 'shipped' %}
            <p class="text-md font-semibold">Ordered Items Shipped</p>
            {% elif order.status == 'delivered' %}
            <p class="text-md font-semibold">Ordered Items Delivered</p>
              {% endif %}
            
              <div style="white-space: nowrap; overflow-x: auto;">
                {% for order_item in order.orders.all %}
                    <img src="{{ order_item.variant.img1.url }}" alt="product-image" class="rounded-lg sm:w-40" style="height:100px; width:100px; display: inline-block; margin-right: 10px;" />
                {% endfor %}
            </div>
            </div>
          </div>
        {% endfor %}
        </div>
       
        
      {% else %}
 
      <div class="flex flex-col justify-center items-center mt-10" style="width:75%;">
         <h2 class="text-2xl font-bold mb-3 ">There are no  Orders</h2>
         <p class="font-semibold text-gray-700 mb-3">We have some recomended Products for you </p>
         <p class="font-semibold text-gray-700 mb-3">please click!!</p>
         <div class="mb-10">
             <a href="{% url 'products' %}">
                 <button class="w-full rounded-md bg-yellow-900 py-3 px-5 font-medium text-white">Go Shopping</button>
             </a>
         </div>
     </div>
     
     {% endif %}
    </div>
  </div>
     {% endblock content %}
     
