{% extends 'base.html' %}
{% load static %}
{% block title %}products {% endblock title %}
{% block content %}

<img src="{% static 'images/banner2.webp' %}" style="height: 400px; width: 100%;">
<div class=" overflow-x-auto">
  <div class="flex justify-end m-4">
    <form method="get" action="{% url 'products' %}">
        <label for="order_by">Sort by:</label>
        <select name="order_by" id="order_by" onchange="this.form.submit()">
            <option value="default" {% if request.GET.order_by == 'default' %}selected{% endif %}>Default</option>
            <option value="low_to_high" {% if request.GET.order_by == 'low_to_high' %}selected{% endif %}>Price: Low to High</option>
            <option value="high_to_low" {% if request.GET.order_by == 'high_to_low' %}selected{% endif %}>Price: High to Low</option>
        </select>
    </form>
</div>

  
<div class="flex flex-wrap justify-center">
  {% if products %}
    {% for product in products %}
    
    <a href="{% url 'product_details' product.id %}">
      <div class="m-10  max-w-xs overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md transition-transform transform hover:scale-105" style="width: 200px; height: 350px;">
        <div class="relative">
       <img class="object-cover" src="{{ product.variants.first.img1.url }}" alt="product image" style="height: 200px; width: 200px; align-items: center;" />
       <div class="absolute top-2 left-1 text-black bg-yellow-900 text-center"
            style="background-color: gray; width: 80px;">
            {% if product.offer or productt.category.offer %}
                <p class="text-sm font-semibold">{{ product.offer.discount_prcnt }}% OFF</p>
            {% endif %}
        </div>

       <div class="absolute top-0 right-0">
        {% if product in request.user.wishlist.products.all %}
            <!-- Product is in the wishlist -->
            <i class="far fa-heart text-2xl m-2 text-red-800"></i>
        {% else %}
            <!-- Product is not in the wishlist -->
            <i class="fa-regular fa-heart text-white text-2xl m-2"></i>
        {% endif %}
    </div>
    </div>
        <div class="mt-4 pb-5">
          <div class="flex justify-center", style="height: 50px; width: 100%;">
        
            <p class= "tracking-tight text-center font-semibold">{{ product.productname }}</p>
          
        </div>
          <div class="mt-2 mb-5 flex items-center justify-center">
            <p>
              
              <span class="text-2xl font-bold text-slate-900 text-center">{{ product.variants.first.discount_price }}</span>
              {% if product.offer or product.category.offer%}
            <span class="text-sm text-slate-900 line-through text-center">{{ product.variants.first.price }}</span>
              {% endif %}
            </p>
            <div class="flex items-center">
              <!-- Your existing rating stars and other icons -->
              
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  {% endif %}
</div>
</div>
{% endblock content %}