{% extends 'list.html' %} {% block title %} Orders {% endblock title %} {% block content %}

<main class="ml-60 pt-16 max-h-screen overflow-auto">
    <h1 class="text-xl font-semibold text-center">Order Management</h1>
    <table class="w-full text-sm text-left rtl:text-right ">
        <thead class="text-xs text-gray-50 bg-gray-50 dark:bg-gray-700 font-semibold">
            <tr class="font-semibold text-center">
                <th scope="col" class="px-6 py-3" style="width: 8%;">Id</th>
                <th scope="col" class="px-6 py-3" style="width: 15%;">Name</th>
                <th scope="col" class="px-6 py-3" style="width: 15%;">Date</th>
                <th scope="col" class="px-6 py-3" style="width: 20%;">Payment method</th>
                <th scope="col" class="px-6 py-3" style="width: 10%;">Amount</th>
                <th scope="col" class="px-6 py-3" style="width: 20%;">Status</th>
                <th scope="col" class="px-6 py-3" style="width: 20%;">Product Details</th>
            </tr>
        </thead>
        <tbody>
            {% if orders %} 
                {% for order in orders %}
                    <tr class=" m-3 border-b dark:bg-gray-800 dark:border-gray-700 text-gray-50 font-semibold text-center">
                        <td class="px-4 py-2">{{ order.id }}</td>
                        <td class="px-4 py-2">{{ order.user.name }}</td>
                        <td class="px-4 py-2">{{ order.order_date }}</td>
                        <td class="px-4 py-2">{{ order.payment_method }}</td>
                        <td class="px-4 py-2">{{ order.Grand_total }}</td>
                        <td class="px-4 py-2 ">
                            {% if order.status != "cancelled" and order.status != "delivered" %}

                            <form method="post" action="{% url 'change_order_status' order.id %}" class="space-y-4 flex">
                                {% csrf_token %}
                                <select 
                                  name="new_status" 
                                  class=" flex block w-1/2 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black">
                                  <option 
                                    value="confirmed" 
                                    {% if order.status == 'confirmed' %}selected{% endif %} 
                                    class="text-black">
                                    Confirmed
                                  </option>
                                  <option 
                                    value="shipped" 
                                    {% if order.status == 'shipped' %}selected{% endif %} 
                                    class="text-black">
                                    Shipped
                                  </option>
                                  <option 
                                    value="cancelled" 
                                    {% if order.status == 'cancelled' %}selected{% endif %} 
                                    class="text-black">
                                    Cancelled
                                  </option>
                                  <option 
                                    value="delivered" 
                                    {% if order.status == 'delivered' %}selected{% endif %} 
                                    class="text-black">
                                    Delivered
                                  </option>
                                </select>
                                <button 
                                  type="submit" 
                                  class="inline-flex items-center px-2 py-1 bg-indigo-600 border border-transparent rounded-md font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                  Change 
                                </button>
                              </form>
                              
                            {% else %}
                                {{ order.status|capfirst }}
                        
                            {% endif %}
                        </td>
                        
                        <td class="px-4 py-4">
                            <a href="{% url 'order_view' order.id %}">
                                <button class="border border-grey-700 px-4 rounded-lg bg-white text-gray-900">view</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <div class="flex justify-center mt-5">
            <div class="pagination">
              <span class="step-links">
                  {% if orders.has_previous %}
                  <a href="?page=1"class="m-4 font-semibold">&laquo; First</a>
                  <a href="?page={{ orders.previous_page_number }}" class="m-4 font-semibold">Previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                  </span>
          
                  {% if orders.has_next %}
                  <a href="?page={{ orders.next_page_number }}" class="m-4 font-semibold">Next</a>
                  <a href="?page={{ ordeers.paginator.num_pages }}" class="m-4 font-semibold">Last &raquo;</a>
                  {% endif %}
              </span>
          </div>
      </div>
    </table>
    
</main>


    {% endblock content %}
