{% extends 'list.html' %} {% block title %} Product {% endblock title %} {% block content %}

<main class="ml-60 pt-16 max-h-screen overflow-auto">
    <h1 class="text-xl font-semibold text-center">Order Management</h1>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 font-semibold">
            <tr class="font-semibold text-center">
                <th scope="col" class="px-6 py-3" style="width: 8%;">Id</th>
                <th scope="col" class="px-6 py-3" style="width: 15%;">Name</th>
                <th scope="col" class="px-6 py-3" style="width: 15%;">Date</th>
                <th scope="col" class="px-6 py-3" style="width: 20%;">Payment method</th>
                <th scope="col" class="px-6 py-3" style="width: 10%;">Amount</th>
                <th scope="col" class="px-6 py-3" style="width: 20%;">Status</th>
                <th scope="col" class="px-6 py-3" style="width: 20%;">Product Details</th>
            </tr>
        </thead>
        <tbody>
            {% if orders %} 
                {% for order in orders %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-black font-semibold text-center">
                        <td class="px-4 py-2">{{ order.id }}</td>
                        <td class="px-4 py-2">{{ order.user.name }}</td>
                        <td class="px-4 py-2">{{ order.order_date }}</td>
                        <td class="px-4 py-2">{{ order.payment_method }}</td>
                        <td class="px-4 py-2">{{ order.Grand_total }}</td>
                        <td class="px-4 py-2 ">
                            {% if order.status != "cancelled" %}
                                <form method="post" action="{% url 'change_order_status' order.id %}">
                                    {% csrf_token %}
                                    <select name="new_status">
                                        <option value="confirmed" {% if order.status == 'confirmed' %}selected{% endif %}>Confirmed</option>
                                        <option value="shipped" {% if order.status == 'shipped' %}selected{% endif %}>Shipped</option>
                                        <option value="cancelled" {% if order.status == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                        <option value="delivered" {% if order.status == 'delivered' %}selected{% endif %}>Delivered</option>
                                    </select>
                                    <button type="submit">Change Status</button>
                                </form>
                            {% else %}
                                {{ order.status }}
                            {% endif %}
                        </td>
                        
                        <td class="px-4 py-4">
                            <a href="{% url 'order_view' order.id %}">
                                <button class="border border-grey-700 px-4 rounded-lg">view</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
</main>


    {% endblock content %}
