<!DOCTYPE html>
<html lang="en">
<head>

<h1>Tiara</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1, h2 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h3>Sales Report</h3>

    <h4>Overall Statistics</h4>
    <p>Total Orders: {{ total_orders }}</p>
    <p>Total Amount: Rs {{ total_amount }}</p>
    <p>Average Order Value: ${{ average_order_value }}</p>

    <h2>Sales Data by Date</h2>
    <table>
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Total Sales</th>
                <th>Total Items</th>
                <th>Total Orders</th>
            </tr>
        </thead>
        <tbody>
            {% for data in sales_data %}
                <tr>
                    <td>{{ data.order_date }}</td>
                    <td>Rs {{ data.total_sales }}</td>
                    <td>{{ data.total_items }}</td>
                    <td>{{ data.total_orders }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
